
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background); 
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-star: var(--star)
  --color-destructive: var(--destructive);
  /*--color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent); */
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover); 
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #FFFFFF;
  --foreground:  #1D1F1E;
  --card: #FFFFFF;
  --card-foreground: #1D1F1E;
/* --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0); */
  --primary: #62A8D5;
  --primary-foreground: #EFF6FB;
  --secondary: #F2F2F2;
  --secondary-foreground: #313131;
  --muted: #F8FCFF;
  --muted-foreground: #36382E;
/* --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0); */
  --destructive: #FF0000; 
  --border: #EBEBEB;
  --input: #D0D5DD;
  --ring: #62A8D5;
  --star:#FFD029;

}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--muted);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary) / 0.8;
}

* {
  /*    scrollbar-width: thin; */
  scrollbar-color: var(--primary) var(--muted);
}

@utility container {
  center: true;
  padding: 40px;
}
